## Data Collection

In this phase we will collect the customer ratings data from the airline quality website called [Skytrax](https://www.airlinequality.com/airline-reviews/british-airways). We will collect data about airline ratings, seat ratings and lounge experience ratings from this website.

In [199]:
#imports

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [200]:
#create an empty list to collect all reviews
reviews  = []

#create an empty list to collect rating stars
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviewer is from
country = []

In [201]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html5")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 29
Error on page 30
Error on page 30
Error on page 33
Error on page 33

In [202]:
#check the length of total reviews extracted
len(reviews)

3418

In [203]:
len(country)

3418

In [204]:
#check the length 
stars = stars[:3418]

In [205]:
#create  a dataframe from these collected lists of data

df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [206]:
df.head()

,reviews,stars,date,country
0,Not Verified | Worst experience ever. Outbound...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,7th November 2022,Italy
1,✅ Trip Verified | Check in was a shambles at ...,1,7th November 2022,Malaysia
2,✅ Trip Verified | Beyond disgusted with the fa...,5,5th November 2022,United Arab Emirates
3,✅ Trip Verified | On July 19th 2022 I had subm...,1,31st October 2022,United States
4,✅ Trip Verified | I booked the flight on Oct ...,1,31st October 2022,United States

In [207]:
df.shape

(3418, 4)

### Export the data into a csv format

In [208]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")